@page
@model AddAuthorModel
@{
}



<div class="one-item-content">
    <h2>Add Author</h2>
    <form method="post" enctype="multipart/form-data">

        <div>
            <label asp-for="Author.Name"></label>
            <input asp-for="Author.Name" />
            <span asp-validation-for="Author.Name"></span>
        </div>

        <input type="submit" name="save" value="Save" />
    </form>
</div>
