@page
@model WebApp.Pages.AdministrationModel
@{
    ViewData["Title"] = "Administration";
}

<div class="one-item-content">
    <h2>Administration</h2>

    <div><a asp-page="AddAuthor">Add author</a></div>
    <div><a asp-page="AddItem">Add item</a></div>
    <div><a asp-page="Authors">Authors</a></div>
    <div><a asp-page="AdminItems">Items</a></div>
    <div><a asp-page="AdminOrders">Orders</a></div>
</div>

