@page
@model MyOrdersModel

<div class="one-item-content">
    @{
        if (Model.Orders.Count() == 0)
        {
            <p>No order has been placed.</p>
        }
        else
        {
            <table class="orders">
                <tr>
                    <th>Date ordered</th>
                    <th>Price</th>
                    <th>State</th>
                </tr>
                @{
                    foreach (Order order in Model.Orders)
                    {
                        <tr class="orders">
                            <td>@order.DateTimeOrdered</td>
                            <td>@order.TotalPrice</td>
                            <td>@order.State</td>
                            <td><a asp-page="MyOrder" asp-route-id="@order.Id">Show order</a></td>
                        </tr>
                    }
                }

            </table>
        }
    }

</div>
