@page
@model WebApp.Pages.HistoryFictionModel
@{
    ViewData["Title"] = "HistoryFiction";
}

<div class="flex-container">
    @{
        foreach (Item item in Model.Items)
        {
            <div>
                <partial name="_Summary" model="item" />
            </div>
        }
    }

</div>

